{{#each ingredients as |ingredient|}}
    <div class="col-xs-12 col-md-6 col-lg-4" data-id="{{ingredient.id}}">
      {{#if ingredient.id}}
        <h3 class=handlebarsIngredient>{{ingredient.ingredient}}</h3>
      {{else}}
        <p id="ingredmsg">You have no groceries to display!</p>
      {{/if}}
      <button class="externalLink" id="{{ingredient.url}}">{{ingredient.label}}</button>
      <button class="removeIngredientEvent meal-button" id="{{ingredient.id}}">Remove</button>
      <button class="editEvent ingredient-button" id="{{meal.id}}">Edit</button>
      <br>
      <br>
    </div>
{{/each}}
