{{#each meals as |meal|}}
    <div class="col-xs-12 col-md-6 col-lg-4" data-id="{{meal.id}}">
      {{#if meal.id}}
        <h2 class=handlebarsDay>{{meal.weekday}}</h2><br>
        <h3 class=handlebarsType>{{meal.mealtype}}</h3>
        <p class=list-group-item-text1>{{meal.entree}}<br>
        <p class=list-group-item-text2>{{meal.side1}}<br>
        <p class=list-group-item-text3>{{meal.side2}}<br>
      {{else}}
        <p id="mealmsg">You have no meals to display!</p>
      {{/if}}
      <button class="externalLink" id="{{meal.url}}">{{experience.label}}</button>
      <button class="removeMealEvent meal-button" id="{{meal.id}}">Remove</button>
      <button class="editEvent meal-button" id="{{meal.id}}">Edit</button>
      <br>
      <br>
    </div>
{{/each}}
