{{#each meals as |meal|}}
  <div class="row">
      {{#if meal.id}}
        <div class="col-xs-12 col-md-4">
        <h3 class=handlebarsDay>{{meal.weekday}}</h3>
        <h4 class=handlebarsType>{{meal.mealtype}}</h4>
        </div>
        <div class="col-md-4">
        <p class=list-group-item-text1>{{meal.entree}}<br>
        <p class=list-group-item-text2>{{meal.side1}}<br>
        <p class=list-group-item-text3>{{meal.side2}}<br>
        </div>
      {{else}}
        <p id="mealmsg">You have no meals to display!</p>
      {{/if}}
      <div class="col-md-4">
      <button class="editEvent meal-button" id="{{meal.id}}">Edit</button>
      <button class="removeMealEvent meal-button" id="{{meal.id}}">Remove</button>
      <button class="externalLink" id="{{meal.url}}">{{meal.label}}</button>
      </div>
      <br>
      <br>
    <!-- </div> -->
  </div>
{{/each}}
